# If/Else

### 1. Write a program to check if a number is positive, negative, or zero.

In [1]:
def checkNum(n):
    if n == 0:
        print("zero")
    elif n < 0:
        print("negative")
    else:
        print("positive")

n = 5
checkNum(n)
n = -2
checkNum(n)
n = 0
checkNum(n)

positive
negative
zero

### 2. Take a year as input and check if it’s a leap year.

In [8]:
def leapYearCheck(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return f"{year} is a leap year"
    else:
        return f"{year} is not a leap year"

In [10]:
print(leapYearCheck(2024))
print(leapYearCheck(2000))
print(leapYearCheck(2025))

2024 is a leap year
2000 is a leap year
2025 is not a leap year

### 3. A student’s marks (0–100) are given. Print the grade based on:
- 90+ = A, 80–89 = B, 70–79 = C, 60–69 = D, below 60 = F

In [ ]:
def giveGrade(n):
    if 100 >= n >= 90:
        return 'A'
    elif 89 >= n >= 80:
        return 'B'
    elif 79 >= n >= 70:
        return 'C'
    elif 69 >= n >= 60:
        return 'D'
    elif n <= 60:
        return 'F'

In [12]:
print(giveGrade(65))
print(giveGrade(78))
print(giveGrade(93))
print(giveGrade(84))

D
C
A
B

### 4. Write a program to check if a character is a vowel.

In [2]:
def hasVowel(c):
    c = c.upper()
    if c in ['A', 'E', 'I', 'O', 'U']:
        print(c + " is a vowel")
    else:
        print(c + " is not a vowel")
n = 'C'
hasVowel(n)
n = 'E'
hasVowel(n)
n = 'o'
hasVowel(n)
n = 'w'
hasVowel(n)

C is not a vowel
E is a vowel
O is a vowel
W is not a vowel

### 5. Take age as input → print if the person is Child (0–12), Teen (13–19), Adult (20–59), Senior (60+).

In [3]:
def checkPersonAge(n):
    if 0 <= n <= 12:
        print("Child")
    elif 13 <= n <= 19:
        print("Teen")
    elif 20 <= n <= 59:
        print("Adult")
    elif 60 <= n:
        print("Senoir")
    else:
        print("invalid input")

In [5]:
age = 12
checkPersonAge(age)
age = 56
checkPersonAge(age)
age = 15
checkPersonAge(age)
age = 68
checkPersonAge(age)

Child
Adult
Teen
Senoir

# Loops (for, while)

### 6. Print numbers from 1 to 100, but skip numbers divisible by 5.

In [12]:
for n in range(1 ,100+1):
    if n % 5:
        continue
    else:
        print(n)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

### 7. Calculate the factorial of a number using a for loop.

In [22]:
def findFactorial(n):
    if(n != 0):
        f = 1
        for e in range(1, n+1):
            f = f * e
        return f
    else:
        return 1

In [23]:
n = 3
print(f"Factorial of {n} is {findFactorial(n)}")
n = 5
print(f"Factorial of {n} is {findFactorial(n)}")
n = 0
print(f"Factorial of {n} is {findFactorial(n)}")

Factorial of 3 is 6
Factorial of 5 is 120
Factorial of 0 is 1

### 8. Write a program to generate the Fibonacci sequence up to n terms.

In [40]:
def fibonacci(n):
    sequence = [0, 1]
    for i in range(2, n):
        sequence.append(sequence[-1] + sequence[-2])
    return sequence

In [43]:
fib_num = fibonacci(20)
print(fib_num)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

### 9. Reverse a number using a while loop.

In [9]:
def reverseNum(n):
    s = ""
    while(n != 0):
        f = n % 10
        s = s + str(f)
        n = n // 10
    return int(s)

print(reverseNum(1092))

2901

### 10. Write a program to count the number of digits in a given number.

In [10]:
n = 123434
print(len(str(n)))

6

## Patterns (nested loops)

### 11. Print a right-angled triangle pattern of * for n=5:
```
*
**
***
****
*****
```

In [33]:
for i in range(1, 5+1):
    for j in range(i):
        print('*', end="")
    print()

print()

for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print('*', end="")
    print()

*
**
***
****
*****

*****
****
***
**
*

### 12. Print an inverted pyramid of numbers for n=5:
```
54321
5432
543
54
5
```

In [39]:
for i in range(1, 6):
    for j in range(5, i-1, -1):
        print(j, end="")
    print()

54321
5432
543
54
5

### 12. Print a diamond pattern of stars (n=5):
```
    *
   ***
  *****
   ***
    *
```

In [ ]:
n = 3  
# upper part (including middle row)
for i in range(1, n + 1):
    print(" " * (n - i) + "*" * (2 * i - 1))

# lower part
for i in range(n - 1, 0, -1):
    print(" " * (n - i) + "*" * (2 * i - 1))

  *
 ***
*****
 ***
  *

## Problem Solving

### 14. Find the sum of all even numbers between 1 and 100

In [42]:
sum = 0
for n in range(100+1):
    if n % 2 == 0:
        sum += n
print(sum)

2550

### 15. Write a program to check if a number is prime.

In [52]:
import math

def isPrime(n):
    if(n <= 1):
        return False
    
    for i in range(2, int(math.sqrt(n))+1):
        if(n % i == 0):
            return False
    return True

print(isPrime(29))
print(isPrime(2))
print(isPrime(21))
print(isPrime(17))

True
True
False
True

### 16. Take a number as input and check if it’s a palindrome (same forward & backward).

In [64]:
def checkPalindrome(s):
    t = ""
    s = s.lower()
    for i in s:
        t = i + t
    if s == t:
        return True
    else:
        return False

print(checkPalindrome("civic"))
print(checkPalindrome("radar"))
print(checkPalindrome("Madam"))
print(checkPalindrome("Hello"))

True
True
True
False

### 17. Print the multiplication table of any number (up to 10).

In [65]:
n = 5
for i in range(1, 11):
    print(f"{n} X {i} = {n*i}")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

### 18. Generate the first n prime numbers.

In [68]:
n = 100
for i in range(n+1):
    if isPrime(i):
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97