# Lists

### Create a list of 10 numbers and print them.

In [1]:
lst = [80, 61, 99, 66, 7, 45, 79, 14, 7, 45]
print(lst)

[80, 61, 99, 66, 7, 45, 79, 14, 7, 45]

### Add a new element at the end and at a specific index.

In [2]:
lst.append(100)
print(lst)

lst.insert(2, 200)
print(lst)

[80, 61, 99, 66, 7, 45, 79, 14, 7, 45, 100]
[80, 61, 200, 99, 66, 7, 45, 79, 14, 7, 45, 100]

### Remove an element by value and by index.

In [3]:
lst.remove(100)
print(lst)

lst.pop(2)
print(lst)

[80, 61, 200, 99, 66, 7, 45, 79, 14, 7, 45]
[80, 61, 99, 66, 7, 45, 79, 14, 7, 45]

### Reverse a list without using reverse().

In [4]:
revlst = lst[:: -1]
print(revlst)

[45, 7, 14, 79, 45, 7, 66, 99, 61, 80]

### Find the sum, max, and min of a list.

In [5]:
print(sum(lst))
print(max(lst))
print(min(lst))

503
99
7

### Sort a list in ascending and descending order.

In [6]:
lst.sort()
print(lst)

lst.sort(reverse=True)
print(lst)

[7, 7, 14, 45, 45, 61, 66, 79, 80, 99]
[99, 80, 79, 66, 61, 45, 45, 14, 7, 7]

### Merge two lists into one.

In [7]:
lst1 = [23, 43, 1]
lst2 = [73, 50, 56]

In [8]:
lst3 = lst1 + lst2
print(lst3)

[23, 43, 1, 73, 50, 56]

### Remove duplicates from a list.

In [9]:
lst = [80, 61, 99, 66, 7, 45, 79, 14, 7, 45]

In [10]:
unique_lst = list(set(lst))
print(unique_lst)

[66, 99, 7, 45, 14, 79, 80, 61]

### Find the second largest element in a list.

In [11]:
unique_lst.sort()
print(unique_lst[-2])

80

### Print only even numbers from a list.

In [12]:
even_lst = []
for i in unique_lst:
    if i % 2 == 0:
        even_lst.append(i)

print(even_lst)

[14, 66, 80]

# Tuples

### Create a tuple and print its elements.

In [13]:
tup = (80, 61, 99, 66, 7, 45, 79, 14, 7, 45)
print(tup)

(80, 61, 99, 66, 7, 45, 79, 14, 7, 45)

### Try to modify an element in a tuple (observe the error).

In [15]:
tup[2] = 100

TypeError: 'tuple' object does not support item assignment

### Unpack a tuple into variables.

In [16]:
point = (20, 50)
x , y = point
print(f"{x}, {y}")

20, 50

### Concatenate two tuples.

In [ ]:
merg_tup = tup + point
print(merg_tup)

(80, 61, 99, 66, 7, 45, 79, 14, 7, 45, 20, 50)
<class 'memoryview'>

### Count the occurrence of an element in a tuple.

In [20]:
for i in tup:
    print(f"{i} : {tup.count(i)}")

80 : 1
61 : 1
99 : 1
66 : 1
7 : 2
45 : 2
79 : 1
14 : 1
7 : 2
45 : 2

# Sets

### Create a set and add/remove elements.

In [27]:
mySet = set()
mySet.add(10)
mySet.add(20)
print(mySet)

fruit_set = set()
fruit_set.add("apple")
print(fruit_set)

#remove
mySet.remove(10) #It will crash with an error if the element isn't found
mySet.discard(20) #It will do nothing (no error) if the element isn't found

fruit_set.remove("apple")

{10, 20}
{'apple'}

### Perform union, intersection, difference between two sets.

In [28]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

In [40]:
#union
print("Union:", set_a.union(set_b))
#Intersection
print("Intersection:", set_a.intersection(set_b))
# OR
print("Intersection:", set_a & set_b)
# Difference
print("Difference:", set_a.difference(set_b))
# Symmetric differnce
print("Symmetric differnce:", set_a.symmetric_difference(set_b))

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Intersection: {3, 4}
Difference: {1, 2}
Symmetric differnce: {1, 2, 5, 6}

### Check if a set is a subset or superset of another.

#### A subset is a set where all of its elements are contained inside another, larger set.

#### The superset is the larger set that contains all the elements of the smaller set.

In [41]:
all_numbers = {1, 2, 3, 4, 5, 6}
prime_numbers = {2, 3, 5}
odd_numbers = {1, 3, 5, 7}

In [44]:
print(prime_numbers.issubset(all_numbers))
print(all_numbers.issuperset(prime_numbers))

True
True

### Remove duplicates from a list using a set.

In [46]:
duplicate_list = [10, 20, 30, 20, 10, 50]
unique_list = list(set(duplicate_list))
print(unique_list)

[10, 20, 50, 30]

### Find common elements in three sets.

In [47]:
s1 = {'a', 'b', 'c', 'd'}
s2 = {'c', 'd', 'e', 'f'}
s3 = {'c', 'f', 'g', 'h'}

s = s1 & s2 & s3
print(s)

{'c'}

# Dictionaries

### Create a dictionary with 5 key-value pairs.

In [48]:
myDict = {
    'a' : 1,
    'b' : 2,
    'c' : 3,
    'd' : 4,
    'e' : 5
}

print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

### Add a new key-value pair and update an existing key.

In [49]:
myDict['f'] = 6
print(myDict)
myDict['a'] = 10
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
{'a': 10, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

### Remove a key-value pair.

In [50]:
del myDict['b']
print(myDict)

{'a': 10, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

### Iterate over keys, values, and items.

### Count the frequency of words in a sentence using a dictionary.

### Merge two dictionaries.

### Find the key with the maximum value.

### Check if a key exists in a dictionary.

### Swap keys and values in a dictionary.

### Create a dictionary from two lists (keys & values).

# Problem Solving with Data Structures

### Write a program to flatten a list of lists.

### Find all elements that appear more than once in a list.

### Given a list of numbers, create a dictionary with number as key and its square as value.

### Find the common elements in two lists using sets.

### Count the number of vowels in a string using a dictionary.

###