# Lists

### Create a list of 10 numbers and print them.

In [79]:
lst = [80, 61, 99, 66, 7, 45, 79, 14, 7, 45]
print(lst)

[80, 61, 99, 66, 7, 45, 79, 14, 7, 45]

### Add a new element at the end and at a specific index.

In [80]:
lst.append(100)
print(lst)

lst.insert(2, 200)
print(lst)

[80, 61, 99, 66, 7, 45, 79, 14, 7, 45, 100]
[80, 61, 200, 99, 66, 7, 45, 79, 14, 7, 45, 100]

### Remove an element by value and by index.

In [81]:
lst.remove(100)
print(lst)

lst.pop(2)
print(lst)

[80, 61, 200, 99, 66, 7, 45, 79, 14, 7, 45]
[80, 61, 99, 66, 7, 45, 79, 14, 7, 45]

### Reverse a list without using reverse().

In [82]:
revlst = lst[:: -1]
print(revlst)

[45, 7, 14, 79, 45, 7, 66, 99, 61, 80]

### Find the sum, max, and min of a list.

In [83]:
print(sum(lst))
print(max(lst))
print(min(lst))

503
99
7

### Sort a list in ascending and descending order.

In [84]:
lst.sort()
print(lst)

lst.sort(reverse=True)
print(lst)

[7, 7, 14, 45, 45, 61, 66, 79, 80, 99]
[99, 80, 79, 66, 61, 45, 45, 14, 7, 7]

### Merge two lists into one.

In [85]:
lst1 = [23, 43, 1]
lst2 = [73, 50, 56]

In [86]:
lst3 = lst1 + lst2
print(lst3)

[23, 43, 1, 73, 50, 56]

### Remove duplicates from a list.

In [87]:
lst = [80, 61, 99, 66, 7, 45, 79, 14, 7, 45]

In [88]:
unique_lst = list(set(lst))
print(unique_lst)

[66, 99, 7, 45, 14, 79, 80, 61]

### Find the second largest element in a list.

In [89]:
unique_lst.sort()
print(unique_lst[-2])

80

### Print only even numbers from a list.

In [90]:
even_lst = []
for i in unique_lst:
    if i % 2 == 0:
        even_lst.append(i)

print(even_lst)

[14, 66, 80]

# Tuples

### Create a tuple and print its elements.

In [91]:
tup = (80, 61, 99, 66, 7, 45, 79, 14, 7, 45)
print(tup)

(80, 61, 99, 66, 7, 45, 79, 14, 7, 45)

### Try to modify an element in a tuple (observe the error).

In [92]:
# tup[2] = 100

### Unpack a tuple into variables.

In [93]:
point = (20, 50)
x , y = point
print(f"{x}, {y}")

20, 50

### Concatenate two tuples.

In [94]:
merg_tup = tup + point
print(merg_tup)

(80, 61, 99, 66, 7, 45, 79, 14, 7, 45, 20, 50)

### Count the occurrence of an element in a tuple.

In [95]:
for i in tup:
    print(f"{i} : {tup.count(i)}")

80 : 1
61 : 1
99 : 1
66 : 1
7 : 2
45 : 2
79 : 1
14 : 1
7 : 2
45 : 2

# Sets

### Create a set and add/remove elements.

In [96]:
mySet = set()
mySet.add(10)
mySet.add(20)
print(mySet)

fruit_set = set()
fruit_set.add("apple")
print(fruit_set)

#remove
mySet.remove(10) #It will crash with an error if the element isn't found
mySet.discard(20) #It will do nothing (no error) if the element isn't found

fruit_set.remove("apple")

{10, 20}
{'apple'}

### Perform union, intersection, difference between two sets.

In [97]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

In [98]:
#union
print("Union:", set_a.union(set_b))
#Intersection
print("Intersection:", set_a.intersection(set_b))
# OR
print("Intersection:", set_a & set_b)
# Difference
print("Difference:", set_a.difference(set_b))
# Symmetric differnce
print("Symmetric differnce:", set_a.symmetric_difference(set_b))

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Intersection: {3, 4}
Difference: {1, 2}
Symmetric differnce: {1, 2, 5, 6}

### Check if a set is a subset or superset of another.

#### A subset is a set where all of its elements are contained inside another, larger set.

#### The superset is the larger set that contains all the elements of the smaller set.

In [99]:
all_numbers = {1, 2, 3, 4, 5, 6}
prime_numbers = {2, 3, 5}
odd_numbers = {1, 3, 5, 7}

In [100]:
print(prime_numbers.issubset(all_numbers))
print(all_numbers.issuperset(prime_numbers))

True
True

### Remove duplicates from a list using a set.

In [101]:
duplicate_list = [10, 20, 30, 20, 10, 50]
unique_list = list(set(duplicate_list))
print(unique_list)

[10, 20, 50, 30]

### Find common elements in three sets.

In [102]:
s1 = {'a', 'b', 'c', 'd'}
s2 = {'c', 'd', 'e', 'f'}
s3 = {'c', 'f', 'g', 'h'}

s = s1 & s2 & s3
print(s)

{'c'}

# Dictionaries

### Create a dictionary with 5 key-value pairs.

In [103]:
myDict = {
    'a' : 1,
    'b' : 2,
    'c' : 3,
    'd' : 4,
    'e' : 5
}

print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

### Add a new key-value pair and update an existing key.

In [104]:
myDict['f'] = 6
print(myDict)
myDict['a'] = 10
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
{'a': 10, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

### Remove a key-value pair.

In [105]:
del myDict['b']
print(myDict)

{'a': 10, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

### Iterate over keys, values, and items.

In [106]:
for key in myDict.keys():
    print(key)

for value in myDict.values():
    print(value)

for key, value in myDict.items():
    print(key , ":", value)

a
c
d
e
f
10
3
4
5
6
a : 10
c : 3
d : 4
e : 5
f : 6

### Count the frequency of words in a sentence using a dictionary.

In [107]:
str = "Python is great and Java is also great but Python is powerful"
wordList = str.split(" ")
wordFreq = {}
for word in wordList:
    if word in wordFreq:
        wordFreq[word] += 1
    else:
        wordFreq[word] = 1
wordFreq

{'Python': 2,
 'is': 3,
 'great': 2,
 'and': 1,
 'Java': 1,
 'also': 1,
 'but': 1,
 'powerful': 1}

### Merge two dictionaries.

In [108]:
merge_dic = myDict | wordFreq
print(merge_dic)

{'a': 10, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'Python': 2, 'is': 3, 'great': 2, 'and': 1, 'Java': 1, 'also': 1, 'but': 1, 'powerful': 1}

### Find the key with the maximum value.

In [109]:
print(max(merge_dic))

powerful

### Check if a key exists in a dictionary.

In [110]:
key = 'is'
if key in merge_dic.keys():
    print("found")
else:
    print("not found")

found

In [111]:
d = {'a':1, 'b':2}
d['a'], d['b'] = d['b'], d['a']
d

{'a': 2, 'b': 1}

### Swap keys and values in a dictionary.

In [112]:
def swapvalues(dict, swapIndex, swapWith):
    # temp = dict[swapIndex]
    # dict[swapIndex] = dict[swapWith]
    # dict[swapWith] = temp
    dict[swapIndex], dict[swapWith] = dict[swapWith], dict[swapIndex] 
    return dict

print(myDict)
newDict = swapvalues(myDict, 'b', 'c')
print(newDict)

{'a': 10, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

KeyError: 'b'

### Create a dictionary from two lists (keys & values).

In [ ]:
list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]
print(list_a)
print(list_b)
listDic = {}
for e in list_a:
    listDic[e] = list_b[e-1]
listDic

[1, 2, 3, 4, 5]
[4, 5, 6, 7, 8]

{1: 4, 2: 5, 3: 6, 4: 7, 5: 8}

# Problem Solving with Data Structures

This question asks you to write a program that takes a list containing other lists (a "list of lists") and combines all the elements into a single, flat list. For example, given `[[1, 2], [3, 4], [5]]`, the result should be `[1, 2, 3, 4, 5]`.

In [ ]:
def inSingleList(lst):
    single_List = []
    i = 0
    while(i < len(lst)):
        for e in lst[i]:
            single_List.append(e)
        i += 1
    return single_List

lists = [[1, 2], [3, 4], [5]]
print(lists)

print(inSingleList(lists))

[[1, 2], [3, 4], [5]]
[1, 2, 3, 4, 5]

### Find all elements that appear more than once in a list.

In [ ]:
lst = [2, 3, 1, 2, 4, 2, 3, 1, 5, 8, 9]
duplicates = set()
for e in lst:
    if lst.count(e) > 1:
        duplicates.add(e)
duplicates

{1, 2, 3}

### Given a list of numbers, create a dictionary with number as key and its square as value.

In [ ]:
import math

In [ ]:

myDict = {}
lst = [12, 25, 37, 48, 59, 63, 74, 85, 96, 100]
lst.sort()
for e in lst:
    myDict[e] = math.sqrt(e)
print(myDict)

{12: 3.4641016151377544, 25: 5.0, 37: 6.082762530298219, 48: 6.928203230275509, 59: 7.681145747868608, 63: 7.937253933193772, 74: 8.602325267042627, 85: 9.219544457292887, 96: 9.797958971132712, 100: 10.0}

### Find the common elements in two lists using sets.

In [ ]:
lst1 = [1, 2, 3, 4, 5, 8, 9]
lst2 = [3, 4, 5, 10, 11, 12]
st = set(lst1).intersection(set(lst2))
st

{3, 4, 5}

### Count the number of vowels in a string using a dictionary.

In [ ]:
sample_Str = "Orange apple umbrella idea ocean eagle island unique open universe animal echo oval useful opera item energy awesome option avenue."
vowel_List = ['a', 'e', 'i', 'o', 'u']
vowel_Dict = {}
sample_Str = sample_Str.lower()
for e in sample_Str:
    if e in vowel_List:
        vowel_Dict[e] = vowel_Dict.get(e, 0) + 1
vowel_Dict

{'o': 9, 'a': 13, 'e': 21, 'u': 7, 'i': 7}

###